{% extends "pitch_metrics/base.html" %}

{% block title %}
    Pitch Metrics
{% endblock %}

{% block extra_head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}

    <div class="hero-container">
        <span class="hero-text">dive<br>into the data<br>behind<br>every beat</span>
        <img class="hero-image" src="static/images/pitch_metrics_hero2.png" alt="hero">
    </div>


    <div class="chart-container">
        <div class="chart-background-title">Number of Albums per Genre</div>
        <div class="plotly-graph">
            {{ chart1|safe }}
        </div>
    </div>

{% endblock %}