<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pitch Metrics</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
</head>
<body>

<header>

    <span id="title">
        <a class="link-home" href="{% url 'index' %}">
            Pitch Metrics
        </a>
    </span>

</header>


<div class="hero-container">
    <span class="hero-text">dive<br>into the data<br>behind<br>every beat</span>
    <img class="hero-image" src="static/images/pitch_metrics_hero2.png" alt="hero">
</div>


<footer>
    <div>
    </div>
</footer>
</body>
</html>